apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:
  - ../../base
images:
  - name: 630943284793.dkr.ecr.eu-west-2.amazonaws.com/counter-backend
    newTag: sha-dcee90e0b177219fe7b21219ac6f7b57959341d7
  - name: 630943284793.dkr.ecr.eu-west-2.amazonaws.com/counter-frontend
    newTag: sha-dcee90e0b177219fe7b21219ac6f7b57959341d7
