apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:
  - ../../base
images:
  - name: 630943284793.dkr.ecr.eu-west-2.amazonaws.com/counter-backend
    newTag: sha-a1eeca46c8c1dbe3a9111d96588729f73babc8a0
  - name: 630943284793.dkr.ecr.eu-west-2.amazonaws.com/counter-frontend
    newTag: sha-a1eeca46c8c1dbe3a9111d96588729f73babc8a0
