apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:
  - ../../base
images:
  - name: 714000371621.dkr.ecr.eu-west-2.amazonaws.com/counter-backend
    newTag: sha-537b8650c6a652950629ddfabe18edc6ae9d1d9c
  - name: 714000371621.dkr.ecr.eu-west-2.amazonaws.com/counter-frontend
    newTag: sha-537b8650c6a652950629ddfabe18edc6ae9d1d9c
patches:    
  - target:
      kind: Deployment
      name: backend
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
  - target:
      kind: Deployment
      name: frontend
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
