apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:
  - ../../base
images:
  - name: 630943284793.dkr.ecr.eu-west-2.amazonaws.com/counter-backend
    newTag: sha-edfc37ddc480fc288205ba254dfc51be725e4b2a
  - name: 630943284793.dkr.ecr.eu-west-2.amazonaws.com/counter-frontend
    newTag: sha-edfc37ddc480fc288205ba254dfc51be725e4b2a
