apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:
  - ../../base
images:
  - name: 630943284793.dkr.ecr.eu-west-2.amazonaws.com/counter-backend
    newTag: sha-e7cb387a1e9b9ca291aaa312ea6389033dcdf27c
  - name: 630943284793.dkr.ecr.eu-west-2.amazonaws.com/counter-frontend
    newTag: sha-e7cb387a1e9b9ca291aaa312ea6389033dcdf27c
