apiVersion: v1
kind: ServiceAccount
metadata:
  name: adot-collector
  namespace: prod
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::630943284793:role/alex-counter-service-adot-collector
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: adot-collector-config
  namespace: prod
data:
  collector.yaml: |
    receivers:
      otlp:
        protocols:
          http:
          grpc:
    processors:
      batch: {}
    exporters:
      awsxray:
        region: eu-west-2
    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [awsxray]
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: adot-collector
  namespace: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adot-collector
  template:
    metadata:
      labels:
        app: adot-collector
    spec:
      serviceAccountName: adot-collector
      containers:
        - name: adot-collector
          image: public.ecr.aws/aws-observability/aws-otel-collector:v0.39.1
          args: ["--config=/conf/collector.yaml"]
          ports:
            - containerPort: 4317
            - containerPort: 4318
          volumeMounts:
            - name: config
              mountPath: /conf
          resources:
            requests:
              cpu: 50m
              memory: 96Mi
            limits:
              cpu: 200m
              memory: 192Mi
      volumes:
        - name: config
          configMap:
            name: adot-collector-config
---
apiVersion: v1
kind: Service
metadata:
  name: adot-collector
  namespace: prod
spec:
  selector:
    app: adot-collector
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
    - name: otlp-http
      port: 4318
      targetPort: 4318
