apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/metrics"
    spec:
      serviceAccountName: backend
      containers:
        - name: backend
          image: 714000371621.dkr.ecr.eu-west-2.amazonaws.com/counter-backend:sha-REPLACE
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: backend-db
          env:
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: "http://adot-collector.prod.svc.cluster.local:4318"
            - name: OTEL_SERVICE_NAME
              value: "counter-backend"
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
