apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: counter-service-prod
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: prod
  source:
    repoURL: https://github.com/<GITHUB_ORG>/<REPO_NAME>.git
    targetRevision: main
    path: manifests/overlays/prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
